.header {
  margin: calc(var(--container-margin) / 2);
  display: flex;
  align-items: center;
  border-bottom: var(--container-border-width) solid var(--container-border-color);
}

.header h1 {
  flex: 5;
}

.header select {
  flex: 1;
}