.header {
  margin:
    var(--container-margin-top)
    var(--container-margin-top)
    calc(var(--container-margin-top) * 3)
    var(--container-margin-top);
  display: flex;
  align-items: center;
  border-bottom:
    var(--box-border-bottom-width)
    solid
    var(--box-border-bottom-color);
}

.header h1 {
  flex: 5;
}

.header select {
  flex: 1;
}