.container {
  display: flex;
  width: 100%;
  min-height: fit-content;
  max-height: 300px;
  border-radius: var(--box-border-radius);
  padding: calc(var(--box-padding) / 2) var(--container-padding);
  margin: calc(var(--container-margin) * 2) 0;
  background-color: var(--background-color-code);
  overflow-y: scroll;
  overflow-x: scroll;
}

.code {
  font-size: var(--text-size-code);
  color: var(--text-color-code);
  font-family: "Source Code Pro", 'Courier New', monospace;
}

/* @media only screen and ( min-width: 1024px ) { 
  .container {
    width: 50%;
  }
} */
