.container {
  border-radius: var(--box-border-radius);
  width: max-content;
  padding: var(--container-padding);
  margin-top: var(--container-margin-top);
  background-color: var(--code-background-color);
}

.code {
  font-size: 1rem;
  color: var(--code-color);
}