.select {
  padding: var(--box-padding);
  margin-bottom: var(--box-margin-bottom);
  font-size: 1rem;
  border-radius: var(--box-border-radius);
  border: var(--box-border-width) solid var(--border-color-midgray);
}