.select {
  padding: var(--box-padding);
  margin-bottom: var(--box-margin-bottom);
  font-size: 1.2rem;
  border-radius: var(--box-border-radius);
  border: var(--box-border-width) solid var(--box-border-color);
}