.heading {
  color: var(--text-color);
}

.h1 {
  font-size: calc(var(--font-size-h1));
  color: var(--text-color-darkgray);
  margin-top: calc(var(--text-margin) / 4);
  margin-bottom: calc(var(--text-margin) / 4);
}

.h2 {
  font-size: calc(var(--font-size-h2));
  color: var(--text-color-blue);
  margin-bottom: calc(var(--text-margin) / 4);
}

.h3 {
  font-size: calc(var(--font-size-h3));
  margin-bottom: calc(var(--text-margin) / 2);
}

.h4 {
  font-size: calc(var(--font-size-h4));
  color: var(--text-color-green);
  margin-top: calc(var(--text-margin) / 3);
  margin-bottom: calc(var(--text-margin) / 3);
}
