* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100% !important;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
